.news-article{
  background-color: var(--color-3);
  padding: 40px 20px;
}

.news-article p{
  max-width: 30ch;
}

.news-article h3:hover{
  cursor: pointer;
  color: var(--color-p1);
}

@media (max-width:1000px){
  .news-list{
    display: flex;
    gap: 20px;
  }
}

@media (max-width:800px){
  .news-list{
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width:450px){
  .news-article h2{
    text-align: left;
  }
  .news-list {
    
    align-items: initial;
}
}