:root{
  --color-p1:hsl(35, 77%, 62%);
  --color-p2:hsl(5, 85%, 63%);

  --color-0:hsl(36, 100%, 99%);
  --color-1:hsl(233, 8%, 79%);
  --color-2:hsl(236, 13%, 42%);
  --color-3:hsl(240, 100%, 5%);
  --color-4:#FEFDF9;
}

.color-p1{
  color:var(--color-p1)
}

.color-p2{
  color:var(--color-p2)
}

.color-0{
  color:var(--color-0)
}

.color-1{
  color:var(--color-1)
}

.color-2{
  color:var(--color-2)
}

.color-3{
  color:var(--color-3)
}